.nav > li > a
{
    font-size: 14px;
    color: #d6d6d6;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.nav > li > a:hover
{
    color: #ffffff;
}

.nav img
{
    width: 220px;
    height: 42px;
    margin-left: -150px;
    margin-right: 50px;
    margin-top: -6px;
}

.nav-size
{
    height: 60px;
}


body, html {
    height: 100%;
}

.nav-color
{
    background-color: #333333;
}

.work-video
{
    width: 1400px;
    height: 730px;
}

.video-container
{
    height: 730px;
    width: 100%;
    background-color: #000000;
}

.work-h3
{
    padding-top: 120px;
    padding-left: 100px;
    color: black;
}

.work-ul
{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 400px;
    color: #888888;
}

.work-container
{
    width: 100%;
    height: 600px;
    background-color: #FAFAFA;
}